<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321658069597-tn2hpufrsjhmm9fri54l7c1fvltpa6ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321658069597-tn2hpufrsjhmm9fri54l7c1fvltpa6ei</string>
	<key>API_KEY</key>
	<string>AIzaSyD4m9jGFksSuaI53Cm1NmHGATdzC7-kqS4</string>
	<key>GCM_SENDER_ID</key>
	<string>321658069597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomonori.API-Blog</string>
	<key>PROJECT_ID</key>
	<string>hare-blog-20536</string>
	<key>STORAGE_BUCKET</key>
	<string>hare-blog-20536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321658069597:ios:d958816c2adeba157b23b4</string>
</dict>
</plist>